

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  background-color: var(--purple)
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fff;
  border-radius: 8px;
  width: 550px;
  height: 350px;
  font-weight: 700;
}

.hits {
  color: var(--correct);
}
.errors {
  color: var(--error);
}

.feedback.bad {
  color: var(--error);
}
.feedback.medium {
  color: var(--secondary);
}
.feedback.good {
  color: var(--correct);
}

.restart-btn {
  all: unset;
  cursor: pointer;

  padding: 0.8rem 0.5rem;
  border-radius: 4px;

  background: var(--primary);
  color: #fff;
  margin-top: 1rem;
}
