.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary);
}

.container h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.container header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem 0;
}
.select-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.select-wrapper select {
  appearance: none;
  padding: 0.5rem 2rem 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  background-color: white;
}

.select-wrapper::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  background-color: transparent;
  pointer-events: none;
}

.memory-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 10px;
  width: 80%;
  overflow: auto;
  padding: 1rem 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.start-button {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #388e3c;
}

@media screen and (max-width: 768px) {
  .memory-cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .memory-cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
