.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100%;
}

.container h1 {
  color: var(--white);
  padding-top: 1.5rem;
}

.memory-cards-wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  align-items: center;
  width: 50%;
}

@media screen and (max-width: 480px) {
  .memory-cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
