body {
  background-color: var(--bg-color);
}

.container {
  max-width: 1264px;
  padding: 0 2rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  flex: 1;
}

.blob {
  position: absolute;
  width: 690px;
  height: auto;

  left: 0px;
  top: 0px;
  z-index: -1;
}

.main {
  margin-top: 3.875rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  gap: 2rem;
}

.infoText {
  margin-top: 11rem;
  font-size: 2rem;
  font-weight: bold;

  text-align: center;

  max-width: 720px;
}

.span {
  color: var(--text-color);
}

.trainings {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-self: flex-start;
  width: 100%;
}
.trainings > strong {
  font-size: 2rem;
}

.boxTrainings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding-bottom: 1rem;
}

@media (max-width: 910px) {
  .infoText {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
@media (max-width: 480px) {
  .container {
    overflow: hidden;
    padding: 0 0.25rem;
  }
}
