* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Roboto", "sans-serif";
}

:root {
  --bg-color: #FAFAFA;

  --primary: #BAE6FF;
  --secondary: #FFCEAB;
  --green: #6EEB83;
  --purple: #BD94C8;
  --white: #fafafa;
  --black: #2E3532;
  --error: #bb0000;
  --correct: #00bb00;

  --text-color: #FF7410;
}

body {
  background: var(--bg-color);
  height: 100vh;
  width: 100%;
}
